<section class="projects" id="projects">
  <h2 class="projects__title">MY PROJECTS</h2>
  <swiper-container [init]="false" #swiper>
    <swiper-slide *ngFor="let project of projects">
      <div class="project-slide" [style.backgroundImage]="'url(' + project.image + ')'">
        <div class="project-content">
          <h3 class="project-content__title">{{ project.title }}</h3>
          <p class="project-content__description">{{ project.description }}</p>
          <a href="#" class="project-content__link">Learn More</a>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</section>