
<div class="container-fluid p-0">
  <main class="container">
    <div appFadeInOnScroll>
      <app-home class="row justify-content-center"></app-home>
    </div>

    <div appFadeInOnScroll>
      <app-about class="row justify-content-center"></app-about>
    </div>

    <div appFadeInOnScroll>
      <app-projects class="row justify-content-center"></app-projects>
    </div>
    <div appFadeInOnScroll>
      <app-experience class="row justify-content-center"></app-experience>
    </div>
  </main>
</div>


<p-scrollTop />