<section class="home">
  <div id="particles-js"></div>
  <div class="content">
    <h1 class="main-title">
      <span class="line1 accent-text">Carlos</span>
      <span class="line2">Rodríguez</span>
    </h1>
    <div class="info" appFadeInOnScroll>
      <p class="role">FRONT END DEVELOPER</p>
      <p class="location">BASED IN MADRID</p>
    </div>
  </div>
  <div class="scroll-indicator">
    <div class="mouse">
      <div class="wheel"></div>
    </div>
    <div class="arrow"></div>
  </div>
  <app-social-links></app-social-links>
</section>