<section id="about" class="about">
  <div class="about-content">
    <h2>About Me</h2>
    <p>
      I'm a passionate Front End Developer with solid experience in modern web
      technologies. I specialize in Angular and TypeScript, creating robust,
      scalable, and high-performance web applications. I also have knowledge in
      back-end technologies such as Node.js, Express, and MongoDB, which allows
      me to collaborate effectively on full-stack projects. I'm characterized by
      my constant pursuit of knowledge, quick adaptation to new environments,
      commitment to development best practices, and solution-oriented approach.
      I enjoy tackling technical challenges with creativity and determination.
      Outside of work, I'm a family-oriented person and enjoy spending time with
      my loved ones. I maintain an enthusiastic and positive attitude in all
      aspects of my life.
    </p>
  </div>
</section>
