<section id="about" class="about">
  <div class="about-content">
    <h2 class="about-me-title">ABOUT ME</h2>
    <p class="about-me-english">
      I'm a Front End Developer specializing in
      <span class="bold-text">Angular</span> and
      <span class="bold-text">TypeScript</span>. Currently, I'm employed at
      <span class="bold-text">Altim Accuro Technology</span>, where I'm engaged
      in several exciting projects. My passion for continuous learning, coupled
      with my adaptability, makes me a particularly effective developer.
      Moreover, I'm enthusiastic about implementing best practices and
      creatively solving technical challenges. In addition to my professional
      skills, I excel at maintaining a healthy work-life balance. Not only do I
      have a great group of friends and a wonderful family, but I also enjoy
      integrating my professional responsibilities into my personal life.
      Furthermore, I believe my calmness and respect enable me to develop well
      and work effectively as part of a team. Additionally, I'm always eager to
      take on new challenges and thrive on collaborating with colleagues and
      exchanging ideas. As a result, I'm excited about the prospect of
      contributing to innovative projects and expanding my skills in the dynamic
      field of web development. Overall, my combination of technical expertise,
      personal qualities, and enthusiasm for growth makes me a valuable asset in
      the world of front-end development.
    </p>
    <hr class="hr-for-language-description" />
    <p class="about-me-spanish">
      Soy un desarrollador Front End especializado en
      <span class="bold-text">Angular</span> y
      <span class="bold-text">TypeScript</span>, y actualmente trabajo en
      <span class="bold-text">Altim Accuro Technology</span>, donde estoy
      involucrado en varios proyectos emocionantes. ¡Mi pasión por el
      aprendizaje continuo y mi adaptabilidad me convierten en un desarrollador
      muy particular! También me apasiona implementar las mejores prácticas y
      resolver retos técnicos de forma creativa. Se me da muy bien conciliar mi
      vida laboral y personal. Tengo un gran grupo de amigos y una familia
      maravillosa, y me encanta poder congeniar mis responsabilidades
      profesionales con mi vida personal. Creo que mi tranquilidad y respeto me
      permiten desenvolverme bien y trabajar bien en equipo. Siempre estoy
      dispuesto a asumir nuevos retos y me encanta colaborar con otras personas
      e intercambiar ideas.
    </p>
  </div>
</section>
