.about {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .about-content {
    max-width: 1200px;
    text-align: center;
  }

  h2 {
    font-size: 4rem;
    margin-bottom: 30px;
  }

  p {
    font-size: 1.2rem;
    line-height: 2;
  }
}
