<div class="custom-navbar">
  <div class="left-section">
    <span class="logo">CR</span>
    <div class="location-time">
      <span class="location">MADRID, SPAIN</span>
      <span class="time">— {{ currentTime }}</span>
    </div>
  </div>
  <nav class="center-nav">
    <a (click)="scrollTo('about')">ABOUT ME</a>
    <a (click)="scrollTo('projects')">WORK</a>
    <a (click)="scrollTo('experience-cv')">CV</a>
  </nav>
  <div class="right-section">
    <a (click)="sendEmail()" class="lets-talk">CONTACT ME</a>
  </div>
  <button class="menu-toggle" (click)="toggleMenu()" [class.active]="isMenuOpen">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>
</div>
<div class="mobile-menu" [class.active]="isMenuOpen">
  <a (click)="scrollTo('about'); toggleMenu()">ABOUT ME</a>
  <a (click)="scrollTo('projects'); toggleMenu()">WORK</a>
  <a (click)="scrollTo('experience-cv'); toggleMenu()">CV</a>
  <a (click)="sendEmail(); toggleMenu()">CONTACT ME</a>
</div>