.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #000000;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.05em;
}

.left-section,
.center-section,
.right-section {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  margin-right: 1.5rem;
}

.location,
.time {
  font-size: 0.9rem;
  margin-right: 0.75rem;
  font-weight: 300;
}

.center-section a,
.right-section a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 1.25rem;
  font-size: 1.1rem;
  font-weight: 400;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.7;
    transform: translateY(-2px);
    cursor: pointer;
  }
}

.right-section a {
  font-weight: 600;
}
