<footer class="custom-footer">
  <div class="footer-content">
    <div class="footer-left">
      <span class="footer-logo">CR</span>
      <span class="footer-name">Carlos Rodríguez</span>
    </div>
    <div class="footer-center">
      <a href="https://github.com/carlosrodmor" target="_blank">GitHub</a>
      <a
        href="https://www.linkedin.com/in/carlos-rodriguez-morales/"
        target="_blank"
        >LinkedIn</a
      >
    </div>
    <div class="footer-right">
      <span class="footer-email">carlos97sdg&#64;gmail.com</span>
      <span class="footer-copyright">&copy; 2024 All rights reserved</span>
    </div>
  </div>
</footer>
