<div class="container projects" id="experience-cv">
    <h2 class="projects__title">CURRICULUM VITAE</h2>
    <div class="row">
        <div class="video-container">
            <img src="../../assets/Martin Scorsese - Extreme Close-Up.gif" alt="Robert de Niro Taxi Driver GIF">
            <div class="text-overlay">Robert De Niro in Taxi Driver (1976)</div>
            <div class="content container">
                <div class="row">
                    <h2 class="title-cv">Explore my professional journey and competencies through my comprehensive CV.
                    </h2>
                </div>
                <div class="row button-row">
                    <button class="explore-button" routerLink="cv">
                        Explore
                        <svg class="svg-arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>