@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";

// tipografía principal de la aplicación
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

body {
  background-color: black;
  color: white;
}

[appFadeInOnScroll] {
  opacity: 0;
  transition: opacity 1.1s ease-in;
}

[appFadeInOnScroll].visible {
  opacity: 1;
}
